/tmp/
/data/validation_data/
/data/processed/
/data/merged/
/data/training_sets/
/data/model_weights/ML_weights/**
/data/model_weights/DL_weights/**
/figures/**
/data/raw/database_pulls/iedb_public.sql
/data/raw/human_proteome.fasta
/data/raw/human_proteome.fasta.zip
